@model User 
@{
    ViewData["Title"] = "Örnek";
}
<h1>Örnek</h1>
<h2>Örnek Sayfası</h2>
<h3>Merhabalar</h3>
<p>Bu sayfa örnek isimli sayfadır</p>
<p>@Model.FirstName @Model.LastName @Model.BirthDate.ToShortDateString() </p>